  <%= link_to mark_notice_path(id: notice), class: 'btn btn-default', style: 'margin: 0px; margin-top: 30px; padding: 0px;' do %>
    <div class="panel panel-default" style="border: solid 3px lightskyblue; margin: 0px;">
      <% back_color = notice.has_read ? 'white' : 'lightskyblue' %>

      <%= content_tag(:div, style: "background-color: #{back_color};") do %>
        <div class="panel-body" style="">
          <%= simple_format notice.message %>
          <% unless notice.has_read %>
          <% end %>
        </div>
        <div class="panel-footer" style=" text-decoration: none;">
          <%= "作成日時: #{format_datetime(notice.created_at)}" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>
