<div class="main">
  <div class="container">
    <h1 style="margin-left: 50px;">通知</h1>
    <p>
      <% delete_button_class = 'btn btn-primary ' + (@notices.where(has_read: true).empty? ? 'disabled' : '') %>
      <%= link_to 'チェック済みの通知を一括削除', delete_notice_has_read_path(user: current_user),
      method: :delete, data: { confirm: '既読の通知を削除しますか？' }, class: "#{delete_button_class}",
      style: 'float: right;  background-color: #00BABD' %>
    </p>
    <br>
    <%= render partial: 'notices/notice', collection: @notices %>
  </div>
</div>
