<h1>通知</h1>

<% @notices.each do |notice| %>
  <br>
  <%= "ID: #{notice.id}" %><br>
  <%= "Message: #{notice.message}" %><br>
  <%= "Has read?: #{notice.has_read}" %><br>
  <%= link_to 'Mark as read', mark_notice_path(id: notice.id)%>
  <br>
<% end %>
