<div class="main">
  <h1>通知</h1>
  <%= link_to 'チェック済みの通知を一括削除', delete_notice_has_read_path(user: current_user),
  method: :delete, data: { confirm: '既読の通知を削除しますか？' }, class: 'btn btn-primary', style: 'float: right; background-color: #00BABD' %>

  <%= render partial: 'notices/notice', collection: @notices %>
</div>
