<div class="main">
  <h1>通知</h1>
  <div class="panel panel-info" style="margin: 10px 20px;">
    <%= link_to 'Delete Notice Has Read', delete_notice_has_read_path(user: current_user),
    method: :delete, data: { confirm: '既読の通知を削除しますか？' } unless @notices.where(has_read: true).empty? %>
    <%= render partial: 'notices/notice', collection: @notices %>
  </div>
</div>
