<p>
  Title: <%= link_to_unless_current idea.title, idea_path(id: idea) %><br>
  Body:  <%= idea.body %><br>
  <%= format_datetime(idea.created_at) %><br>
  <% if local_assigns[:show_create_user] %><br>
    created by:<%= link_to idea.user.name, user_path(id: idea.user) %><br>
  <% end %>
</p>
