<p>
  <div class="ideas-show-item">
    <div class="idea-user-name">Title: <%= link_to idea.title, idea_path(id: idea) %></div>
    Body:  <%= idea.body %><br>
    <div class="idea-time"><%= idea.created_at %></div>
  </div>
</p>
