<div class="main">
  <div class="container">
    <h1>アイデア詳細</h1>
    <%= render partial: 'ideas/detail', locals: { idea: @idea, show_create_user: true }, layout: 'ideas/detail_frame' %>
    <p>
      <h3>いいねしたユーザー</h3>
      <% @idea.likes.each do |like| %>
        <%= render partial: 'users/user', locals: { user: like.user }, layout: 'users/list_frame' %>
      <% end %>
    </p>
    <%= link_to 'トピックへ', topic_path(id: @idea.topic) %>
  </div>
</div>
