<div class="suggest">
  <div class="result">
    <h3>検索結果：</3>
      <% unless suggestions.nil? %>
      <% suggestions.each do |s| %>
      <%= s %>
      <%= '/' %>
      <% end %>
      <% end %>
  </div>
</div>
