<div class="suggest">
  <h3>キーワード検索フォーム</h3>
  <%= form_with url: mandalarts_suggest_path do |f| %>
  <%= f.text_field :keyword %>
  <%= f.submit('検索') %>
  <% end %>
  <div class="result">
    <% unless suggestions.nil? %>
      <% suggestions.each do |s| %>
        <%= s %>
        <br>
      <% end %>
    <% end %>
  </div>
</div>
