<div class="suggest">
  <h3>キーワード検索フォーム</h3>
  <%= form_tag({:controller => 'mandalarts', :action => 'suggest'}, :remote => true) do %>
  <%= text_field_tag :keyword %>
  <%= submit_tag('検索') %>
  <% end %>
  <div class="result">
    <% unless suggestions.nil? %>
      <% suggestions.each do |s| %>
        <%= s %>
        <br>
      <% end %>
    <% end %>
  </div>
</div>
