<h1>Mandalarts#index</h1>
<hr>
<p>
  <div class="row">
    <!-- 1 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" id="core1" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 2 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" id="core2" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 3 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />

      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" id="core3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
<p>
  <div class="row">
    <!-- 4 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" id="core4" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 5 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" onkeypress="setValue(1, this.value)" />
      <input type="text" class="col-xl-3" onkeypress="setValue(2, this.value)" />
      <input type="text" class="col-xl-3" onkeypress="setValue(3, this.value)" />
      
      <input type="text" class="col-xl-3" onkeypress="setValue(4, this.value)" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" onkeypress="setValue(6, this.value)" />
      
      <input type="text" class="col-xl-3" onkeypress="setValue(7, this.value)" />
      <input type="text" class="col-xl-3" onkeypress="setValue(8, this.value)" />
      <input type="text" class="col-xl-3" onkeypress="setValue(9, this.value)" />
      
    </div>
    <!-- 6 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" id="core6"/>
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
<p>
  <div class="row">
    <!-- 7 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" id="core7" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 8 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" id="core8"/>
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 9 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" id="core9" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
<script>
 function setValue(coreNum, value) {
     var coreStringForm = document.getElementById('core' + coreNum);
     coreStringForm.defaultValue = value;
 }
</script>
