<h1>Mandalarts#index</h1>

<hr>
<input type="text" />
<input type="text" />
<input type="text" />
<br>
<input type="text" />
<input type="text" />
<input type="text" />
<br>
<input type="text" />
<input type="text" />
<input type="text" />
<br>
