<h1>Mandalarts#index</h1>
<hr>
<p>
  <div class="row">
    <!-- 1 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 2 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 3 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />

      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
<p>
  <div class="row">
    <!-- 4 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 5 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 6 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
<p>
  <div class="row">
    <!-- 7 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 8 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
    <!-- 9 -->
    <div class="col-xl-3">
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      <input type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
