<h1>Mandalarts#index</h1>
<hr>
<input type="text" style="width: 75px;" />
<input type="text" style="width: 75px;" />
<input type="text" style="width: 75px;" />
<br>
<input type="text" style="width: 75px;" />
<input type="text" style="width: 75px;" />
<input type="text" style="width: 75px;" />
<br>
<input type="text" style="width: 75px;" />
<input type="text" style="width: 75px;" />
<input type="text" style="width: 75px;" />
<br>
