<h1>Mandalarts#index</h1>
<hr>
<p>
  <div class="row">
    <!-- 1 -->
    <div id="1" class="col-xl-3" style="visibility: hidden;" >
      <%= put_sub_elem.html_safe %>
    </div>
    <!-- 2 -->
    <div id="2" class="col-xl-3" style="visibility: hidden;" >
      <input id="2-1" type="text" class="col-xl-3" />
      <input id="2-2" type="text" class="col-xl-3" />
      <input id="2-3" type="text" class="col-xl-3" />
      
      <input id="2-4" type="text" class="col-xl-3" />
      <input id="2-5" type="text" class="col-xl-3" style="visibility: hidden;" />
      <input id="2-6" type="text" class="col-xl-3" />
      
      <input id="2-7" type="text" class="col-xl-3" />
      <input id="2-8" type="text" class="col-xl-3" />
      <input id="2-9" type="text" class="col-xl-3" />
      
    </div>
    <!-- 3 -->
    <div id="3" class="col-xl-3" style="visibility: hidden;" >
      <input id="3-1" type="text" class="col-xl-3" />
      <input id="3-2" type="text" class="col-xl-3" />
      <input id="3-3" type="text" class="col-xl-3" />

      <input id="3-4" type="text" class="col-xl-3" />
      <input id="3-5" type="text" class="col-xl-3" style="visibility: hidden;" />
      <input id="3-6" type="text" class="col-xl-3" />
      
      <input id="3-7" type="text" class="col-xl-3" />
      <input id="3-8" type="text" class="col-xl-3" />
      <input id="3-9" type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
<p>
  <div class="row">
    <!-- 4 -->
    <div id="4" class="col-xl-3" style="visibility: hidden;" >
      <input id="4-1" type="text" class="col-xl-3" />
      <input id="4-2" type="text" class="col-xl-3" />
      <input id="4-3" type="text" class="col-xl-3" />
      
      <input id="4-4" type="text" class="col-xl-3" />
      <input id="4-5" type="text" class="col-xl-3" style="visibility: hidden;" />
      <input id="4-6" type="text" class="col-xl-3" />
      
      <input id="4-7" type="text" class="col-xl-3" />
      <input id="4-8" type="text" class="col-xl-3" />
      <input id="4-9" type="text" class="col-xl-3" />
      
    </div>
    <!-- 5 -->
    <div id="core" class="col-xl-3">
      <input id="5-1" type="text" class="col-xl-3" onchange="animeTest1(1, this.value)" />
      <input id="5-2" type="text" class="col-xl-3" onchange="animeTest1(2, this.value)" />
      <input id="5-3" type="text" class="col-xl-3" onchange="animeTest1(3, this.value)" />
      
      <input id="5-4" type="text" class="col-xl-3" onchange="animeTest1(4, this.value)" />
      <input id="5-5" type="text" class="col-xl-3" />
      <input id="5-6" type="text" class="col-xl-3" onchange="animeTest1(6, this.value)" />
      
      <input id="5-7" type="text" class="col-xl-3" onchange="animeTest1(7, this.value)" />
      <input id="5-8" type="text" class="col-xl-3" onchange="animeTest1(8, this.value)" />
      <input id="5-9" type="text" class="col-xl-3" onchange="animeTest1(9, this.value)" />
      
    </div>
    <!-- 6 -->
    <div id="6" class="col-xl-3" style="visibility: hidden;" >
      <input id="6-1" type="text" class="col-xl-3" />
      <input id="6-2" type="text" class="col-xl-3" />
      <input id="6-3" type="text" class="col-xl-3" />
      
      <input id="6-4" type="text" class="col-xl-3" />
      <input id="6-5" type="text" class="col-xl-3" style="visibility: hidden;" />
      <input id="6-6" type="text" class="col-xl-3" />
      
      <input id="6-7" type="text" class="col-xl-3" />
      <input id="6-8" type="text" class="col-xl-3" />
      <input id="6-9" type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
<p>
  <div class="row">
    <!-- 7 -->
    <div id="7" class="col-xl-3" style="visibility: hidden;" >
      <input id="7-1" type="text" class="col-xl-3" />
      <input id="7-2" type="text" class="col-xl-3" />
      <input id="7-3" type="text" class="col-xl-3" />
      
      <input id="7-4" type="text" class="col-xl-3" />
      <input id="7-5" type="text" class="col-xl-3" style="visibility: hidden;" />
      <input id="7-6" type="text" class="col-xl-3" />
      
      <input id="7-7" type="text" class="col-xl-3" />
      <input id="7-8" type="text" class="col-xl-3" />
      <input id="7-9" type="text" class="col-xl-3" />
      
    </div>
    <!-- 8 -->
    <div id="8" class="col-xl-3" style="visibility: hidden;" >
      <input id="8-1" type="text" class="col-xl-3" />
      <input id="8-2" type="text" class="col-xl-3" />
      <input id="8-3" type="text" class="col-xl-3" />
      
      <input id="8-4" type="text" class="col-xl-3" />
      <input id="8-5" type="text" class="col-xl-3" style="visibility: hidden;" />
      <input id="8-6" type="text" class="col-xl-3" />
      
      <input id="8-7" type="text" class="col-xl-3" />
      <input id="8-8" type="text" class="col-xl-3" />
      <input id="8-9" type="text" class="col-xl-3" />
      
    </div>
    <!-- 9 -->
    <div id="9" class="col-xl-3" style="visibility: hidden;" >
      <input id="9-1" type="text" class="col-xl-3" />
      <input id="9-2" type="text" class="col-xl-3" />
      <input id="9-3" type="text" class="col-xl-3" />
      
      <input id="9-4" type="text" class="col-xl-3" />
      <input id="9-5" type="text" class="col-xl-3" style="visibility: hidden;" />
      <input id="9-6" type="text" class="col-xl-3" />
      
      <input id="9-7" type="text" class="col-xl-3" />
      <input id="9-8" type="text" class="col-xl-3" />
      <input id="9-9" type="text" class="col-xl-3" />
      
    </div>
  </div>
</p>
<script>
 var directions = [
     [-1, -1], [0, -1],      [1, -1],
     [-1,  0], [null, null], [1,  0],
     [-1,  1], [0, 1],       [1,  1]
 ];
 
 function animeTest1(coreNum, value) {
     var coreStringForm = document.getElementById('5-' + coreNum);
     var subElems = document.getElementById(coreNum)
     coreStringForm.defaultValue = value;
     anime({
         targets: coreStringForm,
         translateX: 255 * directions[coreNum-1][0],
         translateY: 75  * directions[coreNum-1][1],
         easing:'easeOutCubic'
     });
     subElems.style.visibility = "";
     anime({
         delay:   500,
         targets: subElems,
         opacity: [0, 1]
     });
 }
</script>
