<div class="main">
  <div class="container">
    <h1>マンダラート</h1>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <%= render partial: 'description' %>
    
    <div class="mandalart">
      <%= form_for(@simple_mandal, url: mandalarts_path) do |f| %>
        <%= render partial: 'mandal_form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
  <%= link_to 'suggest', suggest_mandalart_path(simple_mandal: @simple_mandal), method: :post %>
</div>
