<div class="modal-dialog">
  <div class="modal-content">
    <div class="add-idea">
      <%= form_with(model: @sea) do |f| %>
      <div class="error-message"></div>
      <%= f.text_area :body %>
      <%= f.submit 'アイデア投稿' %>
      <% end %>
    </div>
  </div>
</div>
