<!--
<div class="panel panel-success" style="margin: 10px 75px 0px; border-width: 3px;">
  <div class="topic">
    <div class="panel-heading" style="background-color: white">
      <div class="box">
        <span class="fa fa-comment" style="float: right; padding-top: 2%;"><%= topic.ideas.count %></span></li>
      </div>
    </div>
    <div class="panel-body">
      <div class="b-item4"><span title="詳細ページへ"><%=link_to topic.title, topic_path(id: topic) %></span></div>
    </div>
  </div>
</div>
-->

<div class="needs-tile" style="float: left; background-color: rgba(32,178,170,1)">
    <div class="topic-title">
        <p><%= link_to topic.title, topic_path(id: topic) %></p>
    </div>
</div>
