<p>
  <div class="posts-show-item">
    <div class="post-user-name">Title: <%= link_to topic.title, topic_path(id: topic) %></div>
    Body:  <%= topic.body %><br>
    <div class="post-time"><%= topic.created_at %></div>
  </div>
</p>
