<p>
  Title: <%= link_to_unless_current topic.title, topic_path(id: topic) %><br>
  Body:  <%= topic.body %><br>
  <%= format_datetime(topic.created_at) %><br>
  <% if local_assigns[:show_create_user] %><br>
    created by:<%= link_to topic.user.name, user_path(id: topic.user) %><br>
  <% end %>
</p>
