<div class="main">
  <div class="smart-phone">
    <div class="p-3">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#tab1" class="nav-link" data-toggle="tab">新着</a></li>
        <li class="nav-item"><a href="#tab2" class="nav-link active" data-toggle="tab">ポイント順</a></li>
        <div class="nav-item-lg"><a href="/topics/new" class="nav-link">ニーズ新規投稿</a></div>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="tab1">
          <%= render partial: 'topics/simple', collection: @topics, as: 'topic', layout: 'topics/list_frame' %>
        </div>
        <div class="tab-pane active" id="tab2">
          <%= render partial: 'topics/simple', collection: @point_ordered_topics, as: 'topic', layout: 'topics/list_frame' %>
        </div>
      </div>
    </div>
  </div>
</div>
