<h1>Topic#show</h1>
<p>
  <%= render partial: 'topics/topic', locals: { topic: @topic, show_create_user: true }, layout: 'topics/detail_frame' %>
</p>
<%= link_to "アイデア新規投稿", new_topic_idea_path(topic_id: @topic) %><br>
<p>
  <%= render partial: 'ideas/idea', collection: @topic.ideas, layout: 'ideas/list_frame' %>
</p>
