<div class="main">
  <div class="smart-phone">
    <h1>ニーズ詳細</h1>
    <p>
      <%= render partial: 'topics/detail', locals: { topic: @topic, show_create_user: true }, layout: 'topics/detail_frame' %>
    </p>
  </div>
</div>
