<% if already_liked? idea %>
  <%= link_to like_path(id: idea), method: :delete, remote: true do %>
    <span class="fa fa-heart like-btn-unlike"><%= idea.likes.count %></span>
  <% end %>
<% else %>
  <%= link_to idea_likes_path(idea_id: idea), method: :post, remote: true do %>
    <span class="fa fa-heart like-btn"><%= idea.likes.count %></span>
  <% end %>
<% end %>
