<% if already_liked? sea %>
  <%= link_to like_path(likable_id: sea.id, likable_type: 'Sea'), method: :delete, remote: true do %>
    <span class="fa fa-heart like-btn-unlike"><%= sea.likes.count %></span>
  <% end %>
<% else %>
  <%= link_to likes_path(likable_id: sea.id, likable_type: 'Sea'), method: :post, remote: true do %>
    <span class="fa fa-heart like-btn"><%= sea.likes.count %></span>
  <% end %>
<% end %>
