<% if user.likes.empty? %>
  <div style="text-align: center; font-size: 30px;">
    <br>まだ いいね！ をしていません<br><br>
    <% if user == current_user %>
    <%= link_to 'アイデアに いいね！ してみる', topics_path, class: 'btn btn-primary btn-lg', style: 'background-color: #00BABD;' %>
    <% end %>
  </div>
<% else %>
  <% user.likes.each do |like| %>
    <%= render partial: 'ideas/simple', locals: { idea: like.likable, tab_name: 'like' }, layout: 'ideas/list_frame' %>
  <% end %>
<% end %>
