<p>
  <div class="users-show-item">
    <% profile_image = user.image ? "/user_image/#{user.image}" : 'default_profile_image.png' %>
    <%= image_tag profile_image, size: "200" %>      
    <div class="user-user-name">Name: <%= link_to_unless_current user.name, user_path(id: user) %></div>
    E-mail:  <%= user.email %><br>
  </div>
</p>
