<div class="main">
  <div class="smart-phone">
   <div class="mobile">
      <h1 align="center">ユーザー情報の編集</h1>
      <%= render partial: 'form_field_smart_phone', locals: { user: @user, password: false } %>
   </div>
  </div>
</div>
