<div class="main">
  <div class="smart-phone">
    <div class="mobile">
      <h1 align="center" style="font-size: 64px;"><a href="/" style="text-decoration: none; color: #006e6f;">Hello Idea</a></h1>
      <div style="float:center;">
        <%= render partial: 'form_field_smart_phone', locals: { user: @user, password: true } %>
      </div>
    </div>
  </div>
</div>
