<div class="main">
   <div class="mobile">
    <h1 align="center">アカウント作成（スマホからアクセス）</h1>
          <div align="center">
            <%= render partial: 'form_field', locals: { user: @user, password: true } %>
          </div>
   </div>
</div>
