<div class="main">
  <h1>User#Show</h1>
  <%= render partial: 'users/user', locals: { user: @user, image_size: 200 }, layout: 'users/detail_frame' %>
  <div class="p-3">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Published Topics</a></li>
      <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Published Ideas</a></li>
      <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">Liked Ideas</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <p>
          <%= render partial: 'topics/topic', collection: @user.topics, layout: 'topics/list_frame' %>
        </p>
      </div>
      <div class="tab-pane" id="tab2">
        <p>
          <%= render partial: 'ideas/simple', collection: @user.ideas, as: 'idea', layout: 'ideas/list_frame' %>
        </p>
      </div>
      <div class="tab-pane" id="tab3">
        <p>
          <% @user.likes.each do |like| %>
            <%= render partial: 'ideas/simple', locals: { idea: like.idea }, as: 'idea', layout: 'ideas/list_frame' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
