<div class="detail">
  <div class="main">
    <!--<div class="container">-->
        <h1>HelloIdea<span class="small">とは</sppan></h1>
        <h2 class="is_helloidea"><span class="theme">アイディア特化型SNS</span></h2>
        <br>
        <h2 class="is_object">ユーザー間のコミュニケーションで<br>アイディアの <span class="theme">募集  発案  練上 </span>を目的としています</h2>
      <br>

      <div class="how_to">
        <h2 class="how_to_title">HelloIdeaの使い方</h2>

        <p>理想、問題、その他からジャンルを選択</p>
        <p>各ジャンル毎のトピックが一覧として閲覧できます</p>
        <img src="">

        <p>ジャンルを選択してトピックを投稿できます</p>
        <img src="">

        <p>トピックをクリックすると、トピック詳細に移動できます</p>
        <p>トピック詳細ページでは、そのトピックに投稿されたアイディアが一覧として表示されます</p>
        <img src="">

        <p>トピック詳細ページから、アイディアを投稿できます</p>
        <img src="">

        <p>投稿されているアイディアに「いいね」することができます</p>
        <p>「いいね」したアイディアはユーザーページから確認できます</p>
        <img src="">
      </div>

      <div class="question">
        <h2>こちらはβ版です<br>今後の実装にむけて、ユーザー向けアンケートを実施しています<br>ご協力おねがいします</h2>
      </div>
    <!--</div>-->
  </div>
</div>
