<div class="detail">
  <div class="main">
    <!--<div class="container">-->
        <h1>Hello Idea<span class="small">とは</span></h1>
        <h2 class="is_helloidea"><span class="theme">アイデア特化型SNS</span></h2>
        <br>
        <h2 class="is_object">自由にアイデアを出し合える場を提供します</h2>
      <br>

      <div class="how_to">
        <h2 class="how_to_title">Hello Ideaの使い方</h2>

        <p>理想、問題、その他からジャンルを選択</p>
        <p>各ジャンル毎のトピックが一覧として閲覧できます</p>
        <div class="image" align="center"><img src="exp-1.jpg"></div>

        <p>ジャンルを選択してトピックを投稿できます</p>
        <div class="image" align="center"><img src="exp-2.jpg"></div>

        <p>トピックをクリックすると、トピック詳細に移動できます</p>
        <p>トピック詳細ページでは、そのトピックに投稿されたアイデアが一覧として表示されます</p>
        <div class="image" align="center"><img src="exp-3.jpg"></div>

        <p>トピック詳細ページから、アイデアを投稿できます</p>
        <div class="image" align="center"><img src="exp-4.jpg"></div>

        <p>投稿されているアイデアに「いいね」することができます</p>
        <p>「いいね」したアイデアはユーザーページから確認できます</p>
        <div class="image" align="center"><img src="exp-5.jpg"></div>
      </div>

      <div class="question">
        <h2>現在Hello Ideaはβ版です<br>今後の実装にむけてアンケートを実施しています<br>ご協力おねがいします</h2>
      </div>
    <!--</div>-->
  </div>
</div>
