<div class="main">
  <div class="container">
    <div class="detail-message">
      <h1>Hello Idea<span class="small">は</span></h1>
      <h2>アイデア創出プラットフォーム<span class="small">です。</span></h2>
      <br>
      <h3>本β版では、SNS機能により<br><strong>自由にアイデアを出し合える場</strong>を提供します。</h3>
      <br>

      <div class="message-item">
        <p>
          <b>アイデア出しに苦労したことはありませんか？<br>
          アイデア出しをサポートするサービスを目指し、Hello Ideaを開発しました。</b><br>
        </p>
      </div>
      <br>
      <div class="message-item">
        <p>
          本SNSの特徴として、他者のアイデアに対してコメントできないようになっています。<br>
          これは人のアイデアを否定してはいけないという、アイデア出しの大原則に則ったものです。<br>
          <b>良いと思ったアイデア</b>に対しては、「<b>いいね</b>」をすることができます。<br>
        </p>
      </div>
      <br>
      <div class="message-item">
        <p>
          Hello IdeaのSNS機能は,<b>トピック</b>と<b>アイデア</b>の2つで構成されています。<br>
          トピックは、大きく分けると理想と問題に分けることができます。<br>
          アイデアは、<b>理想の最大化</b>や<b>問題の最小化</b>をすることができるものです。

        </p>
      </div>
      <br>
      <div class="message-item">
        <p>
          トピックを投稿し、集まったアイデアを自身のアイデア創出の<b>ヒント</b>にするのもよし。<br>
          自身のアイデアを投稿し、集まったいいねの数を世間の反応の指標にするのもよし。<br>
          <b>あなたなりの使い方を見つけてください。</b><br>
        </p>
      </div>



      <div class="how_to">

        <h2>アイデアが欲しい!</h2>
        <div class="example-img" align="center"><img src="exam-2.jpg"></div>

        <h2>アイデアを提供したい!</h2>
        <div class="example-img" align="center"><img src="exam-1.jpg"></div>

        <h2>みんなはどう思うだろう?</h2>
        <div class="example-img" align="center"><img src="exam-3.jpg"></div>



        <h2 class="how_to_title">Hello Ideaの使い方</h2>

        <p>理想、問題、その他からジャンルを選択</p>
        <p>各ジャンル毎のトピックが一覧として閲覧できます</p>
        <div class="image" align="center"><img src="exp-1.jpg"></div>

        <p>ジャンルを選択してトピックを投稿できます</p>
        <div class="image" align="center"><img src="exp-2.jpg"></div>

        <p>トピックを選択すると、トピック詳細に移動できます</p>
        <p>トピック詳細ページでは、そのトピックに投稿されたアイデアが一覧として表示されます</p>
        <div class="image" align="center"><img src="exp-3.jpg"></div>

        <p>トピック詳細ページから、アイデアを投稿できます</p>
        <div class="image" align="center"><img src="exp-4.jpg"></div>

        <p>投稿されているアイデアに「いいね」することができます</p>
        <p>「いいね」したアイデアはユーザーページから確認できます</p>
        <div class="image" align="center"><img src="exp-5.jpg"></div>
      </div>

      <div class="question">
        <h2>現在Hello Ideaはβ版です<br>今後の実装にむけてアンケートを実施しています<br>ご協力おねがいします</h2>
      </div>
    </div>
  </div>
</div>
