<div class="top">
  <div class="main">
    <div class="container">
      <div><%= link_to 'マンダラート', mandalarts_path %></div>
      <div><%= link_to 'ランダムワード', words_path %></div>
    </div>
  </div>
</div>
