<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="top">
  <div class="main">
    <div id="tool">
      <div class="hirameki-tool_smart">
        <h1 class="tool-title">ひらめき</h1>
        <i class="far fa-lightbulb fa-10x" style="color: #cc8500;"></i>
        <p class="tool-message">
          ふとした瞬間にアイデアが思い浮かぶ<br>ことってありませんか？<br>あなたのインスピレーションを刺激する<br>ツールを提供します！
        </p><br><br>
        <div><i class="fas fa-angle-double-right fa-2x" style="color: #cc8500;"></i><%= link_to 'ランダムワード', words_path %></div>
      </div>
  <div class="seiri-tool_smart">
    <h1 class="tool-title">情報整理</h1>
    <i class="fas fa-brain fa-10x" style="color: #4d9980;"></i>
    <p class="tool-message">
      物事が大きいほど本質や付随するものが<br>見えにくいものです<br>あなたの思考整理/情報整理を<br>お手伝いします！
    </p><br><br>
    <div><i class="fas fa-angle-double-right fa-2x" style="color: #4d9980;"></i><%= link_to 'マンダラート', mandalarts_path %></div>
  </div>
</div>
</div>
</div>
