<div class="container">
  <h1>ランダムワード</h1>
  <div class="random-tool">
    <%= @word1.title %>×<%= @word2.title %>
  </div>
  <div class="words-index">
    <% @words.each do |word| %>
    <%= word.id %>.
    <%= word.title %><br>
    <% end %>
  </div>
</div>
