<div class="main">
  <div class="container">
    <%= @mandal.id %>
    <br>
    <% @ideas.each do |idea| %>
      <%= idea.sea.body %>
      <%= idea.sea.user.name %>
      <br>
    <% end %>
    <%= link_to "マンダラート", mandalarts_path %>
  </div>
</div>
