@import "bootstrap";
@import "bootstrap-sprockets";

* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  color: black;
  background-color: skyblue;
  padding: 30px;
  min-height: 1vh;
}
