@import "bootstrap";
@import "bootstrap-sprockets";

* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  color: red;
  padding: 30px;
  min-height: 1vh;
}

.header {
  background-color: skyblue;
}

.main {
  background-color: azure;
}

.footer {
  background-color: lightgray;
  border-top: solid 2px #eaeaea;
}