/* いいねボタン ==========================*/
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.idea {
  a {
    color: black;
    &:hover {
      color: darkyellow;
      text-decoration: none;
    }
  }
  ul {
    padding: 0px;
    display: inline;
    list-style: none;
    li {
      padding-left: 15px;
    }
  }

  .box {
    ul{
      li{
        display: inline;
        .b-item4{
          width: 80%;
          margin-right: 50%;
          overflow: hidden;
          text-align: ellipsis;
        }
      }
    }

/*    display: flex;
    .b-item1 {
      min-width: 10%;
    }
    .b-item2 {
      width: 100%;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 10%;
    }
    .b-item3 {
      width: 10%;
      display: flex;
      align-items: center;
      }
*/
  }
}

p.normal {
  word-wrap: normal;
}

.over {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.word-break {
  word-break: break-all;
}
