/* ideas/index ================================ */
.ideas-title {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: deepskyblue;
}
.ideas-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.idea-user-name a {
  font-weight: 600;
}

.idea-user-name a:hover {
  color: #3ecdc6;
}

.idea-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.idea-left {
  float: left;
  width: 10%;
}

.idea-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* ideas/show ================================ */
.ideas-show form {
  display: inline;
}

.ideas-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.ideas-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.idea-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.ideas-show-item .fa {
  font-size: 16px;
}

.idea-menus {
  float: right;
}

.idea-menus a, .idea-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}


/* ideas/new ================================ */
.ideas-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.error_message {
  text-align: center;
  color: red;
}