// Place all the styles related to the mandalarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mandalart{
  position: relative;
  width: 900px;
  height: 1000px;
  margin-left: 100px;
  //float: left;
    .block{
      width: 300px;
      height: 300px;
      margin-top: 0px;
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
      float: left;
      textarea{
        display: block;
        float: left;
        width: 100px;
        height: 100px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        border: 1px solid #999;
        text-align: center;
        word-wrap: break-word;
        resize: none;
      }
      .core textarea{
        display: block;
        background-color: rgba(100,100,100,0.3);
        width: 100px;
        height: 100px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        text-align: center;
        word-wrap: break-word;
        resize: none;
      }
      .corecore textarea{
        display: block;
        background-color: #ffd700;
        width: 100px;
        height: 100px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        //border: 3px solid #999;
        text-align: center;
        word-wrap: break-word;
        resize: none;
      }
  }
  .pop{
    position: absolute;
    left: 90%;
    top: -160px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    .save-btn{
      background: none;
      border: none;
    }
  }
}

#index{
  text-align: center;
  width: 100%;
  height: 500px;
  .square_btn a{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ffe000;
    color: #000;
    font-weight: bold;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .square_btn a:hover{
    text-decoration: none;
    color: #fff;
  }
  .square_btn a:active {/*ボタンを押したとき*/
    text-decoration: none;
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  .dates{
    width: 100%;
    text-align: center;
    .square_btn a{
      width: 100px;
      height: 100px;
      margin: 20px;
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #ffe000;
      color: #000;
      font-weight: bold;
      border-bottom: solid 4px #627295;
    }
    .square_btn a:hover{
      text-decoration: none;
      color: #fff;
    }
    .square_btn a:active {/*ボタンを押したとき*/
      text-decoration: none;
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
    }
  }
}

/* modal window */
.modal_popUp,
input[name="modal_switch"],
#modal_open + label ~ label {
  display: none;
}
/* HAND MARK */
#modal_open + label{
  position: relative;
  top: -85px;
  left: 300px;
  margin-right:100px;
  margin-top:10px;
  color:#006e6f;
  font-size:20px;
  cursor: pointer;
}
#modal_close-button + label {
  margin-right:100px;
  margin-top:10px;
  color:#006e6f;
  font-size:20px;
  cursor: pointer;
}

.modal_popUp {
  animation: fadeIn 1s ease 0s 1 normal;
}
#modal_open:checked ~ #modal_close-button + label{
  animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#modal_open:checked + label ~ .modal_popUp {
  background: #fff;
  display: block;
  width: 1350px;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 998;
}

#modal_open:checked + label ~ .modal_popUp > .modal_popUp-content {
  width: calc(100% - 40px);
  height: calc(100% - 20px - 44px );
  padding: 10px 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}

#modal_open:checked + label + #modal_close-overlay + label {
  background: rgba(0, 0, 0, 0.70);
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  z-index: 997;
}

/* CLOSE BTN */
#modal_open:checked ~ #modal_close-button + label {
  display: block;
  margin-left: 20%;
  background: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 44px;
  width: 50%;
  height: 44px;
  position: fixed;
  bottom: 10%;
  left: 5%;
  z-index: 999;
}

#modal_open:checked ~ #modal_close-button + label::before {
  content: '×';
}
#modal_open:checked ~ #modal_close-button + label::after {
  content: 'CLOSE';
  margin-left: 5px;
  font-size: 80%;
}

/* CONTENT */
.contents{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  //float: left;
  .mandal-img{
    width: 50%;
    img{
      width: 90%;
    }
  }
  .modal-contents{
    width: 50%;
  }
}


.suggest{
  width: 100%;
  height: 25%;
  text-align: center;
}
.suggest-form{
  margin: 30px;
  width: 400px;
  height: 50px;
}
.result{
  margin: 30px;
}

