.sea {
  font-size: 3vh;
}

.add-idea{
  textarea{
      display: inline-block;
      float: left;
      width: 80%;
      height: 100px;
      font-size: 30px;
    }
    input{
      display: inline;
      float: left;
      width: 20%;
      height: 100px;
      font-size: 30px;
    }
}

.btn.btn-primary.btn-s-md{
  background: orangered;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border: none;
  text-shadow: 0px -1px 0 #464C56;
  i{
    margin: 0 7px 0;
    text-shadow: none;
  }
}
.btn.btn-primary.btn-s-md:hover{
  background: #cc3600;
}

.ideas-pannel{
  float: left;
  position: relative;
  width: 45%;
  height: 120px;
  padding: 0.5em 1em;
  margin: 1em 1.5em 1em;
  color: #5d627b;
  background: white;
  border: solid 3px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  .idea{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    font-size: 20px;
    font-weight: 600;
    color: #006e6f;
    text-decoration: none;
    margin: 5px 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break:break-all;
    z-index: 1;
  }
  .idea-fake{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 1px;
    font-weight: 1;
    color: #fff;
    text-decoration: none;
    margin: 5px 10px 0;
    z-index: 0;
  }

  .img-thumbnail{
    position: absolute;
    bottom: 0.5em;
  }

  .user-name{
    position: absolute;
    left: 3em;
    bottom: 0.5em;
    text-decoration: none;
  }
}
.ideas-pannel:hover{
  background-color: lightgray;
  .idea-fake{
    color: lightgray;
  }
}

.seas-panel{
  position: relative;
  font-family: sans-serif;
  width: 100%;
  height: 90px;
  .seas-content{
    position: relative;
    width: 100%;
    margin: 2px 5px 2px;
    .seas-title{
      width: 90%;
      height: 30px;
      margin: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        font-size: 17px;
        font-weight: 600;
        color: darkcyan;
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
      }
      a:hover{
        font-weight: 700;
        text-decoration: none;
        color: #7acccc;
      }
    }
    .seas-information{
      width: 95%;
      height: 30px;
      margin: auto;
      line-height: 30px;
      .fa.fa-comment{
        padding-right: 20px;
      }
      .user-information{
        position: absolute;
        right: 2.5%;
        bottom: 0;
      }
    }
  }
}

.sea-post {
  position: fixed;
  top: 500px;
}
