#topic-show{
  hr{
    margin: 0;
  }
  .needs-owner{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    a{
      text-decoration: noen;
      color: black;
      font-size: 12px;
    }
    .needs-information{
      width: 850px;
      .needs-title{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: bold;
        font-family: sans-serif;
      }
      .needs-body{
        margin-bottom: 20px;
        font-size: 15px;
      }
      .invest-area{
        width: 20%;
      }
      .user-information {
        float: right;
        img{
          margin-bottom: 10px;
        }
      }
    }
    .contribute-box{
      position: relative;
      width: 850px;
      margin: 0;
      padding: 0;
      .idea-register{
        width: 100%;
        label{
          margin: 0;
          font-size: 15px;
        }
        textarea{
          width: 80%;
          margin-bottom: 30px;
        }
        input{
          position: absolute;
          top: 60px;
          right: 30px;
        }
      }
    }
  }
}
#smart-topic-show{
  hr{
    margin: 0;
  }
  .needs-owner{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    a{
      color: black;
      font-size: 12px;
    }
    .needs-information{
      width: 850px;
      .needs-title{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: bold;
        font-family: sans-serif;
      }
      .needs-body{
        margin-bottom: 20px;
        font-size: 30px;
      }
      .invest-area{
        width: 40%;
      }
      .user-information {
        float: right;
        img{
          margin-bottom: 10px;
        }
      }
    }
    .contribute-box{
      width: 850px;
      margin: 0;
      padding: 0;
      .idea-register{
        width: 100%;
        label{
          margin: 0;
          font-size: 30px;
        }
        textarea{
          width: 100%;;
          margin: 0;
        }
        input{
          margin: 0;
          margin-top: -20px;
          padding: 0;
        }
      }
    }
  }
}
.panel.panel-defaul{
  width: 750px;
  margin: auto;
}
.topic {
  a {
    color: black;
    &:hover {
      color: silver;
      text-decoration: none;
    }
  }
  ul {
    padding: 0px;
    display: inline;
    list-style: none;
    li {
      padding-left: 15px;
    }
  }
  .desc {
    width: 80%;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .dtable {
    display: table;
  }
  .dtable_c {
    vertical-align: top;
    line-height: 40px;
    display: table-cell;

  }

  .title {
    color: #006E6F;
    padding-left: 10px;
  }

  .box {
    ul{
      list-style: none inside;
      width: 100%;
      margin: 0;
      li{
        display: inline;
        span{
          text-align:right;
        }
      }
    }
  }
}

.needs-index{
  //margin:auto;
  float: left;
  width: 740px;
}

.nav-item{
  margin: 0 2px 0px;
  a{
    background-color: whitesmoke;
    color: #00BABD;
    height: 40px;
    font-size: 15px;
    margin-bottom: 1px;
  }
}
.nav-link.active{
  font-weight: bold;
}
.form-size{
  margin: 25px auto;
  width: 500px;
  input[type="text"] {
    width: 500px;
    height: 40px;
  }
  textarea {
    width: 500px;
    height: 80px;
  }
  input[type="submit"] {
    width: 300px;
    height: 50px;
    font-size: 30px;
    padding: 5px;
  }
  .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.smart_form-size{
  margin: 25px auto;
  width: 700px;
  text-align: center;
  font-size: 30px;
  input[type="text"] {
    width: 700px;
    height: 80px;
    font-size: 25px;
  }
  textarea {
    width: 700px;
    height: 160px;
    font-size: 25px;
  }
  input[type="submit"] {
    width: 700px;
    height: 80px;
    font-size: 30px;
  }
  .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

#smart_topic_pannel{
  width: 100%;
  height: 210px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px silver;
  .idea-count{
    padding-top: 40px;
    width: 15%;
    height: 100%;
    float: left;
    color: gray;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    p{
      font-size: 20px;
    }
  }
  .idea-count2{
    padding-top: 40px;
    width: 15%;
    height: 100%;
    float: left;
    color: #ff6347;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    p{
      font-size: 20px;
    }
  }
  .topic-information{
    width: 80%;
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    a.topic-title{
      display: block;
      color: #3c6666;
      width: 90%;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 35px;
      font-weight: bold;
      text-decoration: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    a.topic-information:hover{
      color: dimgray;
      text-decoration: none;
    }
    a.topic-detail{
      display: block;
      color: dimgray;
      width: 90%;
      font-size: 30px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    a.topic-information:hover{
      color: dimgray;
      text-decoration: none;
    }
    .user-image{
      padding-top: 10px;
      a{
        color: #007B96;
        font-size: 30px;
        //font-weight: 700;
        text-decoration: none;
      }
      a:hover{
        text-decoration: none;
      }
      span{
        float: right;
        padding-top: 15px;
      }
    }
  }
}

/************** needs panel design ******************/
.needs-panel{
  position: relative;
  font-family: sans-serif;
  width: 100%;
  height: 140px;
  border-bottom: solid 1px lightgray;
  .needs-content{
    position: relative;
    width: 100%;
    margin: 2px 5px 2px;
    .needs-title{
      width: 95%;
      height: 40px;
      margin: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a{
        position: absolute;
        left: 2.5%;
        top: 0;
        bottom: 0;
        right: 0;
        font-size: 17px;
        font-weight: 600;
        color: darkcyan;
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
      }
      a:hover{
        font-weight: 700;
        text-decoration: none;
        color: #7acccc;
      }
    }
    .needs-body{
      width: 95%;
      height: 30px;
      line-height: 30px;
      margin: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 17px;
      font-weight: 600;
      a{
        color: darkcyan;
      }
    }
    .needs-information{
      width: 95%;
      height: 40px;
      margin: auto;
      line-height: 40px;
      .fa.fa-comment{
        padding-right: 20px;
      }
      .user-information{
        position: absolute;
        right: 2.5%;
        bottom: 0;
      }
    }
  }
}
.needs-right-space{
  float: right;
  width: 260px;
  .btn.btn-primary.register{
    position: fixed;
    top: 80px;
    background: #12C74B;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border: none;
    text-shadow: 0px -1px 0 #464C56;
    i{
      margin: 0 7px 0;
      text-shadow: none;
    }
  }
  .btn.btn-primary.register:hover{
    background: rgb(15,171,65);
  }
  .btn.btn-primary.mt-5{
    position: fixed;
    top: 300px;
    background: orangered;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border: none;
    text-shadow: 0px -1px 0 #464C56;
    i{
      margin: 0 7px 0;
      text-shadow: none;
    }
  }
  .btn.btn-primary.mt-5:hover{
    background: #cc3600;
  }
  .explain-register{
    position: fixed;
    top: 120px;
    width: 260px;
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.4);
    border-radius: 5px 5px 5px 5px;
    padding: 15px 10px 0px 10px;
    .ex-title{
      font-weight: bold;
      font-size: 14px;
      margin: 0;
    }
    hr{
      padding: 0;
      margin: 5px 0px 5px;
    }
    .ex-body{
      width: 100%;
      font-size: 12px;
      word-break: break-all;
      span{
        color: red;
      }
    }
  }
  .explain-memo{
    position: fixed;
    top: 400px;
    width: 260px;
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.4);
    border-radius: 5px 5px 5px 5px;
    padding: 15px 10px 0px 10px;
    .ex-title{
      font-weight: bold;
      font-size: 14px;
      margin: 0;
    }
    hr{
      padding: 0;
      margin: 5px 0px 5px;
    }
    .ex-body{
      font-size: 12px;
      span{
        color: red;
      }
    }
  }
  .sea-post{
    position: fixed;
    top: 560px;
    textarea{
      width: 260px;
      margin-bottom: 10px;
    }
  }
}

#idea-modal{
    .modal-content{
      display: block;
      width: 580px;
      height: auto;
      .modal-body{
        .form-control{
          height: auto;
          width: 90%;
          word-break: break-all;
        }
      }
    }
  }