.topic {

  a {
    color: black;
    &:hover {
      color: silver;
    }
  }
  ul {
    padding: 0px;
    display: inline;
    list-style: none;
    li {
      padding-left: 15px;
    }
  }
  .desc {
    width: 80%;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .dtable {
    display: table;
  }
  .dtable_c {
    display: table-cell;
  }

  .title {
    color: #00BABD;
    padding-left: 10px;
  }

}
