.user {
  font-size: 28px;
  color: pink;
  ul {
    padding: 0px;
    display: inline;
    list-style: none;
  }
  .dtable {
    display: table;
  }  
  .dtable_c {
    display: table-cell;
    vertical-align: middle;
  }
}