.user {
  background-color: azure;
  font-size: 28px;
  ul {
    padding: 0px;
    display: inline;
    list-style: none;
    li {
      padding-left: 15px;
    }
  }
  .dtable {
    display: table;
  }  
  .dtable_c {
    display: table-cell;
    vertical-align: middle;
  }
}