.random-words {
  .random-tool {
    text-align: center;
    font-size: 10vh;
    a {
      font-size: 5vh;
      text-decoration: none;
    }
  }
  .words-index {
    background-color: lightgray;
  }
  .word-form {
  }
}
