<footer class="footer">
  <div class="container">
    <div class="">
    現在Hello Ideaはβ版です。
    <%= link_to 'アンケート', 'https://goo.gl/forms/QrNsbvBYoYa6WB7N2' %>
    のご協力おねがいします。
    </div>
  </div>
</footer>
