<footer class="footer">
  <div class="smart-phone">
    <ul>
      <li>
        現在Hello Ideaはβ版です。
        <%= link_to 'アンケート', 'https://goo.gl/forms/QrNsbvBYoYa6WB7N2' %>
        のご協力おねがいします。
      </li>
      <li>お問い合わせは helloidea.info@gmail.com まで</li>
    </ul>
  </div>
</footer>
